<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Fupre, Lecturer, Evaluation, Portal">
  <meta name="author" content="Ejiofor Alexandra">
  <meta name="description" content="This is a site to enable eligible students of the Federal University of Petroleum Resources Effurun
              evaluate their course lecturers">
	<!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Dashboard</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}" />

	<!-- Magnific Popup -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Header -->
	<header id="home">

		<!-- Nav -->
		<nav id="nav" class="navbar bg-dark">
			<div class="container" bg-dark>

				<div class="navbar-header bg-dark" >
					<!-- Logo -->
					<div class="navbar-brand bg-dark">

						<a href="{% url 'reviews:students:assessment_list' %}">
							<img class="logo" src="{% static 'img/banner.png' %}" alt="logo">
							<img class="logo-alt" src="{% static 'img/logo-alt.png' %}" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="#home">Dashboard</a></li>
          <li><a href="{% url 'reviews:students:taken_assessment_list' %}">Completed</a></li>
          <li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>
					<li><a href="{% url 'accounts:user_logout' %}">Logout</a></li>
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->



	<!-- /Header -->



<!-- Reveiw List -->
	<div id="pricing" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Available Assessments</h2>
				</div>
				<!-- /Section header -->

        <div class="col-sm-12">
          {% include 'reviews/students/_header.html' with active='new' %}
            <div style="color:black;" class="card">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>Assessment</th>
                    <th>Department</th>
                    <th>Level</th>
                    <th>Length</th>
                    <th>Lecturer</th>
                  </tr>
                </thead>
                <tbody>
                  {% for assessment in assessments %}
                    <tr>
                      <td class="align-middle">{{ assessment.name }}</td>
                      <td class="align-middle">{{ assessment.department.get_html_badge }}</td>
                      <td class="align-middle">{{ assessment.level.get_html_badge }}</td>
                      <td class="align-middle">{{ assessment.questions_count }} questions</td>
											<td class="align-middle">{{ assessment.owner.level }} {{assessment.owner.first_name }}</td>
                      <td class="text-right">
                        <a href="{% url 'reviews:students:take_assessment' assessment.pk %}" class="btn btn-primary">Start assessment</a>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td class="bg-light text-center font-italic" colspan="4">No assessment matching your interests right now.</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

			</div>
			<!-- Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Pricing -->



	<!-- Footer -->
	<footer id="footer" class="sm-padding bg-dark">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<div class="col-md-12">

					<!-- footer logo -->
					<div class="footer-logo">
						<a href="{% url 'reviews:students:assessment_list' %}"><img src="{% static 'img/banner.png' %}" alt="logo"></a>
					</div>
					<!-- /footer logo -->

					<!-- footer follow -->
					<ul class="footer-follow">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
					</ul>
					<!-- /footer follow -->

					<!-- footer copyright -->
					<div class="footer-copyright">
						<p> © 2019. Ejiofor_Alexandra | </p>
					</div>
					<!-- /footer copyright -->

				</div>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</footer>
	<!-- /Footer -->

	<!-- Back to top -->
	<div id="back-to-top"></div>
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->

	<!-- jQuery Plugins -->
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>

</html>
